.header {
  background: rgb(82, 82, 83);
  background: linear-gradient(
    90deg,
    rgba(82, 82, 83, 1) 0%,
    rgba(196, 196, 196, 1) 50%,
    rgba(97, 97, 97, 1) 100%
  );
  border-radius: 5px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* BARRA DE NAVEGACION SECUNDARIA */
.navS ul {
  list-style-type: none;
}

.navS li {
  display: inline;
  background-color: #e4e4e4;
  border: #d7c8b6 2px solid;
  margin-right: 70px;
  padding: 0 4px;
}
/* BARRA DE NAVEGACION PRINCIPAL */
.navP ul {
  list-style-type: none;
}

.navP li {
  display: inline-block;
  background-color: #a7a7a7;
  border: double;
  font-family: Arial, Helvetica, sans-serif;

  margin-right: 80px;
  padding: 6px;
}

.body {
  background: url(../IMG/nuevas2.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
}

.servCons ul {
  list-style-type: none;
}

.servCons li {
  background-color: #bbbab8;
  border: #d7c8b6 2px solid;
  float: left;
  margin-right: 20px;
  padding: 0 4px;
}
table {
  text-align: center;
}

table th {
  color: rgba(183, 207, 195, 0.938);
  background-color: rgb(101, 101, 102);
}
table tr {
  background-color: rgb(255, 255, 255);
}

.busq {
  text-decoration-color: crimson;
  border: 2px solid;
  background-color: rgb(0, 0, 0);
}

.listreg {
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer {
  background-color: aqua;
}

h2 {
  text-align: center;
  border-radius: 90px;
  background-color: black;
  color: white;
}

.formnewser {
  text-align: justify;
  border-bottom: 40 px black;

  background: linear-gradient(
    90deg,
    rgba(82, 82, 83, 1) 0%,
    rgba(196, 196, 196, 1) 50%,
    rgba(97, 97, 97, 1) 100%
  );
}
/* CAMBIO DE COLOR PASO POR ARRIBA DEL BOTON */
a:hover {
  color: red;
}

/* CONSULTA DE TRABAJOS POR FECHA */
/* DISEÑO FONDO PARA INGRESO DE FECHAS */
.feconc {
  background: rgb(82, 82, 83);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(196, 196, 196, 1) 50%,
    rgb(255, 255, 255) 100%
  );
}

.ferang {
  background: rgb(82, 82, 83);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(196, 196, 196, 1) 50%,
    rgb(255, 255, 255) 100%
  );
}
